global:
  scrape_interval: 15s

rule_files:
  - "alert.rules.yml"

alerting:
  alertmanagers:
    - static_configs:
      - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: [localhost:9090]

  - job_name: 'node-exporter'
    static_configs:
      - targets: [localhost:9100]

  - job_name: 'cadvisor'
    static_configs:
      - targets: [localhost:8080]
